html, * {
  font-family: helvetica;
  box-sizing: border-box;
  
}

body {
  background-image: url(img/sleep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  cursor: crosshair;
  
  
}

h1 {
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h1 {
  background-image: url(img/shells.png);
  background-color: rgb(45, 48, 51);
  font-size: 40px;
  border: 2px solid red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 100px;
  width: 500px;
  color: rgb(192, 23, 23);
  margin: 0 0 0 500px;
  padding: 20px;
  position: absolute;
  text-align: center;
  
}

.scorebox {
  border: 2px solid red;
  color: red;
  height: 70px;
  width: 200px;
  background-color: rgb(45, 48, 51);
  text-align: center;
}

#miss {
  color: red;
  font-size: 50px;
}

#score {
  color: red;
  font-size: 50px;
}

#timebox {
  background-color: rgb(45, 48, 51);
  border: 1px solid red;
  width: 100px;
  height: 40px;
  text-align: center;
  color: red;

}

#timer {
  color: red;
  font-size: 30px;
  
}

.level {
  width: 99%;
  height: 400px;
  position: fixed;
  margin: 40vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-area: mn;
  grid-template-areas: 
  ". a6 . a1 a5 ."
  "a3 . . . . a4"
  ". a2 . . . ."
  ". . . . . ."
  ". . g1 . . ."
  ". . . . . ."
  
}

button {
  background-color:rgb(45, 48, 51);
  font-weight: bolder;
  font-size: 20px;
  color: red;
  height: 40px;
  width: 100px;
  border: 1px solid red;
  margin: 0;
  
}

.area1 {
  height: 10px;
  width: 230px;
  margin: 0 auto;
  grid-area: a1; 
  
}

.area2 {
  height: 10px;
  width: 130px;
  margin: 0 0 0 70px; 
  grid-area: a2;
}

.area3 {
  height: 10px;
  width: 150px;
  margin: 0 auto; 
  grid-area: a3;
}


.area4 {
  height: 10px;
  width: 200px;
  margin: 0 auto; 
  grid-area: a4;
}

.area5 {
  height: 10px;
  width: 100px;
  margin: 0 5px 0 0;
  grid-area: a5; 
}

.area6 {
  height: 10px;
  width: 230px;
  margin: 0 auto; 
  grid-area: a6; 
}

.gun {
  height: 35px;
  margin: -100px 0 140px 0;
  grid-area: g1;
}

 #target {
 background-image: url(img/badguy1.png);
 background-size: 100%;
 background-repeat: no-repeat;
 align-items: center;
 position: absolute;
 
 height: 400px;
 width: 150px;
 
 
}
 



