html, * {
  font-family: helvetica;
  box-sizing: border-box;
}

body {
  
  background-image: url(img/sleep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
            
}

.scorebox {
  border: 2px solid red;
  height: 70px;
  width: 100px;
  background-color: black;
  text-align: center;
}

.score {
  color: red;
  font-size: 50px;
}