html, * {
  font-family: helvetica;
  box-sizing: border-box;
  
}

body {
  background-image: url(img/sleep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  cursor: crosshair;
  
  
}




.scorebox {
  border: 2px solid red;
  color: red;
  height: 70px;
  width: 100px;
  background-color: rgb(45, 48, 51);
  text-align: center;
}

.score {
  color: red;
  font-size: 50px;
}

#timebox {
  background-color: rgb(45, 48, 51);
  border: 1px solid red;
  width: 100px;
  height: 40px;
  text-align: center;
  color: red;

}

#timer {
  color: red;
  font-size: 30px;
  
}

.level {
  width: 99%;
  height: 400px;
  position: fixed;
  margin: 40vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-area: mn;
  grid-template-areas: 
  ". . . a2 . ."
  ". . a1 . . a4"
  ". a6 . . a5 ."
  "a3 . . . . ."
  ". . g1 . . ."
  ". . . . . ."
  
}

button {
  background-color:rgb(45, 48, 51);
  color: red;
  height: 40px;
  width: 100px;
  border: 1px solid red;
  margin: 0;
  
}

.area1 {
  color: red;
  border-bottom: 3px solid black;
  border-radius: 50px;
  height: 10px;
  width: 230px;
  margin: 0 auto;
  grid-area: a1; 
  
  
}

.area2 {
  color: red;
  border-bottom: 3px solid black;
  border-radius: 50px;
  height: 10px;
  width: 130px;
  margin: 0 0 0 70px; 
  grid-area: a2;
}

.area3 {
  color: red;
  border-bottom: 3px solid black;
  border-radius: 50px;
  height: 10px;
  width: 150px;
  margin: 0 auto; 
  grid-area: a3;
}



.area4 {
  color: red;
  border-bottom: 3px solid black;
  border-radius: 50px;
  height: 10px;
  width: 200px;
  margin: 0 auto; 
  grid-area: a4;
}

.area5 {
  color: red;
  border-bottom: 3px solid black;
  border-radius: 50px;
  height: 10px;
  width: 100px;
  margin: 0 5px 0 0;
  grid-area: a5; 
}

.area6 {
  color: red;
  border-bottom: 3px solid black;
  border-radius: 50px;
  height: 10px;
  width: 230px;
  margin: 0 auto; 
  grid-area: a6;
}

.gun {
  height: 50px;
  margin: -120px 0 140px 0;
  grid-area: g1;
}

.target {
 background-repeat: no-repeat;
 height: 300px;
}

